.pill {
  padding: 0.4em 0.75em;
  line-height: 1;
  border-radius: 20px;
  background: var(--light-green);
  color: var(--white);
  box-shadow: 1px 5px 10px rgba(255, 255, 255, 0.75);
  text-transform: capitalize;
  opacity: 0.75;
  font-size: 0.85em;

  &.error,
  &.admin {
    background: var(--red);
  }
}
