.top {
  flex-grow: 1;
  overflow: scroll;
  padding: 1em;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

// Force classes
.force-show {
  display: block !important;
}

.force-show-flex {
  display: flex !important;
}

.force-desktop-hide {
  display: none !important;

  @media (min-width: 768px) {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .force-hide-desktop,
  .force-show.force-hide-desktop {
    display: none !important;
  }
}

.sidebar-item {
  &:hover {
    background: var(--light-blue);
    cursor: pointer;
  }
}
